<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatismember.repository.MemberMapper">

	<insert id="create" useGeneratedKeys="true" keyProperty="userNo">
		INSERT INTO member 
			 (
			   user_id, 
			   user_pw, 
			   user_name
			 )
		VALUES
			 (
			   #{userId},
			   #{userPw},
			   #{userName}
			 )
	</insert>

	<insert id="createAuth">
		INSERT INTO member_auth 
		     (
		       user_no, 
		       auth
		     )
		VALUES 
			 (
			   #{userNo},
			   #{auth}
			 )
	</insert>

</mapper>
